@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700;800&display=swap");

div.tooltip {
  position: absolute;
  text-align: center;
  font-family: Inter;
  font-size: 1.1rem;
  padding: 0.7rem;
  background: white;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  pointer-events: none;
}
